html, body {
	margin: 0px;
	height: 100%;
	width: 100%;
}

.container{
	max-width: 100%;
	margin: 0px;
	height: 100vh;
	width: 100vw;
	max-width:100%;
	
}

.title{
	position: relative;
	margin:0px;
	top:35%;
	font-family: 'Open Sans', sans-serif;
	font-size: 80px;
	font-weight: bold;
	color: rgb(87, 87, 87);
	text-align: center;
}

.home{
	background-image: url(img/bg_t2.jpg);
	background-size: cover;
	background-repeat: none;
}

.home-content{
	position: relative;
	top:25%;
	margin: auto;
	width: 60%;
	height: 50%;
}

.nav{
	width: 100%;
	height: 15%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	background-color: rgba(0, 0, 0, 0.5);
}

.nav a{
	color: rgb(237, 237, 237);
	text-decoration: none;
}

.nav-item{
	cursor: pointer;
	line-height: 7.5vh;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: bold
}

.nav-item:hover{
	background-color: rgba(237, 237, 237, 0.2);
	transition: 1s;
}

.logo-icon{
	height: 7.5vh;
	background-image: url(img/connecte_logo.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto 9vh;
}

.logo-banner{
	width: 100%;
	height: 85%;
	background-image: url(img/connecte_logo.svg);
	background-repeat: no-repeat;
	background-position: center;
	/*background-color: rgba(237, 237, 237, 0.2);*/
}

.aboutus{
	background-color: rgb(245, 245, 245);
}
.events{
	background-color: rgb(245, 245, 245);
}
.infos{
	background-color: rgb(245, 245, 245);
}
.contact{
	background-color: rgb(245, 245, 245);
}